{% extends "base.html.twig" %}
{% block title %}
	{% if search is defined %}
		{{"Recherche " ~ search }}
	{% else %}
		{{"Rayon \"" ~ category.name ~ "\""}}
	{% endif %}
{% endblock %}
{% block body %}
	<div class="card col-md-12">
		<div class="card-header">
			<h1>
				<i class="fas fa-store"></i>
				{% if search is defined %}
					{{ "Recherche \"" ~ search ~ "\"" }}
				{% else %}
					{{ "Rayon \"" ~ category.name ~ "\"" }}
				{% endif %}
				:
				{{ nbProducts }}
				Produit(s)
			</h1>
		</div>
		<div class="card-body row">
			{% for product in products %}
				<div class="col-md-4">
					<div class="card clickable" onclick={{"location='/" ~ app.request.attributes.get('_locale') ~ "/cart/add/" ~ product.id ~ "/1'"}}>
						<img src={{asset(product.image)}} class="card-img-produit" alt={{product.name}}>
						<div class="card-body">
							<h4 class="card-title">{{product.name}}</h4>
							<p class="card-text">
								<i>{{product.text}}</i>
							</p>
							<h2>
								<span class="badge badge-primary">
									<i class="fas fa-cart-plus"></i>
									{{ product.price }}
									€
								</span>
							</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
